h1{
    text-align: center;
    font-family: "Google Sans";
    font-weight: 400;
}

h2{
    text-align:center;
}

.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

